.Hintergrund{
    background-color: yellowgreen;
}

.header{
    position: relative;
    color: bisque;
    background-color: aqua;
    font-size:3rem;
    font-style: italic;
}

.subtitle{
    position: relative;
    color: blanchedalmond;
    background-color: aquamarine;
    font-size:2rem;
    font-style: italic;
}

.text{
    position: relative;
    color: bisque;
    background-color: aquamarine;
    opacity: 0,5%;
    font-size: 1rem;
}