.wrapper {
    display: grid;
    border-style: solid;
    border-width: 1px;
    height: 100vh;
    padding: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.header {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    grid-column-start: span 3;
}

.box {
    height: 50px;
    width: 50px;
    background-color: green;
    border-style: solid;
    border-width: 1px;
}

.menu {
    background-color: aqua;
}

.items {
    background-color: orange;
}